name: build
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        java: [21]
        os: [ubuntu-22.04]

    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          path: asynclocator

      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: gradle

      - name: build
        working-directory: asynclocator
        run: |
          chmod +x gradlew
          ./gradlew :Fabric:build --no-daemon

      - name: capture build artifacts
        if: runner.os == 'Linux' && matrix.java == '21'
        uses: actions/upload-artifact@v4
        with:
          name: asynclocator-artifacts
          path: asynclocator/Fabric/build/libs/
